{% extends 'layout-visitor.html.twig' %}

{% block content %}
    <section class="ReservationBlock">
        <h2>Réservation par téléphone :</h2>
        <div class="col text-center pb-4">
            <button class="btn btn-lg"><img src="/assets/images/call-icon.png" class="littlePicCall pb-1" alt="Petit téléphone">Tél: 02 38 53 71 12</button>
        </div>
        <div class="container">
            <h2>Réservation par mail :</h2>
            <p class="sameText">Après avoir rempli ce formulaire, vous recevrez une confirmation par mail ou par téléphone de notre part.</p>
            <p>Au plaisir de vous acceuillir dans notre restaurant.</p>
            <p class="weightBold">* Tous ces champs sont obligatoires</p>
            <div class="row justify-content-md-center">
                <form class="col col-md-8 " method="post">
                    <div class="form-group">
                        <label for="Name">Nom*</label>
                        <input type="text" class="form-control" id="Name" aria-describedby="Name" placeholder="Dionysos">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail">Adresse mail*</label>
                        <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="adresse@mail.fr">
                    </div>

                    <div class="form-group">
                        <label for="phone">Téléphone*</label>
                        <input type="text" class="form-control" id="phone" placeholder="02 38 53 71 12">
                    </div>

                    <div class="form-group">
                        <label for="date">Date de réservation*</label>
                        <input type="date" class="form-control" id="date">
                    </div>

                    <div class="form-group">
                        <label for="NbPeople">Nombre de convives*</label>
                        <input type="number" min="0" max="22" class="form-control" id="NbPeople" placeholder="3">
                        <small id="NbPeople" class="form-text text-muted">(jusqu'à 22 convives maximum)</small>
                    </div>

                    <div class="form-group">
                        <label for="Hour">Heure d'arrivée*</label>
                        <input type="time" class="form-control" id="Hour">
                    </div>

                </form>
            </div>
            <div class="col text-center pb-4">
                <button type="submit" name="submit" value="submit" class="btn btn-lg">Réserver</button>
            </div>
        </div>
    </section>
{% endblock %}


