{% extends 'layout-visitor.html.twig' %}

{% block content %}
    <section class="py-4">
        <h2>Votre demande de réservation a bien été pris en compte !</h2>
        <p>Nous allons vous recontacter par mail ou par téléphone dans les plus bref délais afin de confirmer votre
            réservation.</p>
        <div class="text-center pb-4">
            <a href="/" type="submit" class="btn btn-red btn-lg text-white">Retour à la page d'accueil</a>
        </div>
    </section>
{% endblock %}
