<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Page photo</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
{% for picture in pictures %}
<div class="card" style="width: 18rem;">
    <img src="{{ base_path ~ directory }}/{{ picture.path }}" class="card-img-top" alt="{{ picture.path }}">
</div>
{% endfor %}

</body>
</html>