<section class="aboutus" id="about-us">

    <div class="container-fluid text-center px-5 py-3">

        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center px-5 py-3">QUI SOMMES NOUS ?</h2>
                <p class="text-center px-3 py-5">Le label "Fait Maison" est sorti et nous en sommes très
                    heureux
                    Chez Dionysos. N'hésitez à vous informer sur cette nouvelle disposition. En ce qui nous
                    concerne,
                    toutes nos entrées, tous nos plats et tous nos desserts sont "Fait Maison" selon le décret du
                    Décret
                    n°2014-797 du 11 juillet 2014 modifié par le Décret n°2015-505 du 6 mai 2015
                <p class="text-center px-3 py-2">
                    Alors venez les gouter dans notre restaurant 1 rue du Tabour 45000 ORLEANS.</p>

                <p class="text-center px-3 py-2">A bientôt!</p>
            </div>
        </div>
    </div>
</section>