{% extends 'layout-admin.html.twig' %}

{% block content %}
    <section class="container">
        <h1>Edition de {{ drinkCategory.name }}</h1>

        {% include 'AdminDrinkCategory/_form.html.twig' %}

.    </section>
{% endblock %}
