<section class="aboutus" id="about-us">
    <div class="container-fluid">
        <h2 class="text-center">QUI SOMMES NOUS ?</h2>
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-10 ">
                <p>Le label "Fait Maison" est sorti et nous en sommes très
                    heureux
                    Chez Dionysos. N'hésitez pas à vous informer sur cette nouvelle disposition. En ce qui nous
                    concerne,
                    toutes nos entrées, tous nos plats et tous nos desserts sont "Fait Maison" selon le
                    Décret
                    n°2014-797 du 11 juillet 2014 modifié par le Décret n°2015-505 du 6 mai 2015
                <p class="text-center py-2">Venez les gouter dans notre restaurant 1 rue du Tabour 45000 ORLEANS.</p>
                <p class="text-center py-2">A bientôt!</p>
            </div>
        </div>
    </div>
</section>
