<section class="find" id="find">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>NOUS TROUVER</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 offset-1 col-sm-12 pt-5">
                <div>
                    <p>Venez nous retouver en plein coeur du centre ancien de la ville d'Orléans.
                        Le restaurant est facile d'accès grâce à sa proximité au parking du Cheval Rouge.</p>
                    <p>N'hésitez pas à nous demander conseil sur les plus beaux endroits de la ville ! </p>
                    <div class="text-center">
                        <button class="btn btn-lg btn-outline-light"><a href="/FindUs/index">En savoir plus</a></button>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12 text-center">
                <img src="/assets/images/plan.png" class="img-homepage img-map" alt="Responsive image">
            </div>
        </div>
    </div>
</section>
