<nav class="navbar  sticky-top navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav w-100 nav-fill">
            <li class="nav-item ">
                <a class="nav-link active" href="#">MENU</a>
            </li>
            <li class="nav-item active ">
                <a class="nav-link" href="#">RESERVATION</a>
            </li>
            <img src="/assets/images/bacchus2.png" alt="logo dionysos" id="imgnav" class="imgnav">
            <li class="nav-item active">
                <a class="nav-link" href="#">LIVRE D'OR</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">NOUS TROUVER</a>
            </li>
        </ul>
    </div>
</nav>





