<section class="menu" id="menu">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>NOTRE CARTE</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-sm-12 text-center display">
                <div>
                    <p>Découvrez nos délicieux plats faits maison avec nos produits issues de l'agriculture biologique. Notre carte des vins va ravir vos papilles.</p>
                    <div class="text-center">
                        <button class="btn btn-lg btn-outline-light">Découvrez la carte</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 offset-2 col-sm-12 text-center">
                <img src="/assets/images/menu.webp" class="img-thumbnail" alt="Responsive image">
            </div>

        </div>
    </div>
</section>
