<div class="jumbotron jumbotron-fluid align-items-center">
    <div class="container-fluid ">
        <h1 class="h1 jumbotron-title text-center">RESTAURANT DIONYSOS</h1>
        <p class="jumbotron-text text-center">Découvrez nos délicieux plats maison, accompagnés de nos vins de haute
            qualité.</p>
        <div class="text-center">
            <a class="btn btn-lg btn-outline-light btn-jumbotron" href="/dishes/index">Découvrez
                    nos plats</a>
        </div>
        <div class="text-center arrow-down">
            <a href="#about-us"><img src="/assets/images/arrow-down.png" class="" alt="descendre"></a>
        </div>
    </div>
</div>