<section class="find" id="find">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>NOUS TROUVER</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-sm-12 text-center display">
                <div>
                    <p>Venez nous retouver en plein coeur du centre ancien de la ville d'Orléans</p>
                    <div class="text-center">
                        <button class="btn btn-lg btn-outline-light">Y aller</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12 text-center">
                <img src="/assets/images/plan.png" class="img-thumbnail" alt="Responsive image">
            </div>

        </div>
    </div>
</section>
