<section class="find" id="find">

    <div class="container-fluid py-3">

        <div class="row">
            <div class="col-lg-8 col-sm-12 text-center mx-auto">
                <h2>NOUS TROUVER</h2>
            </div>
        </div>
        <div class="row justify-content-center py-3">
            <div class="col-lg-8 col-sm-12 text-center mx-auto display">
                <div class="text-center mx-auto">


                    <p>Venez nous retouver en plein coeur du centre</p>
                    <p>ancien de la ville d'Orléans</p>
                    <div class="text-center mx-auto py-5">
                        <button class="btn btn-red btn-lg">Y aller</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12 text-center py-5">
                <img src="/assets/images/plan.png" class="img-thumbnail" alt="Responsive image">
            </div>

        </div>
    </div>
</section>
