<section class="reservation">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-sm-12">
                <h2 class="text-center">RÉSERVATION</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-12 text-center">
                <img src="/assets/images/resa.jpg" class="img-thumbnail" alt="Responsive image">
            </div>
            <div class="col-lg-8 col-sm-12 text-center mx-auto display">
                <div>
                    <p>Découvrez notre restaurant et notre carte des vins en venant passer un moment agréable dans notre cadre viticole et goûter nos produits issus de l'agriculture biologique.</p>
                    <div class="text-center">
                        <button class="btn btn-red btn-lg">Réservation</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
