<section class="reservation">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-sm-12">
                <h2 class="text-center">RÉSERVATION</h2>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <img src="/assets/images/restaurant_image.jpg" class="img-fluid" alt="Restaurant image">
            </div>
            <div class="col-lg-7 offset-lg-1 col-md-12 text-center pt-5">
                <div>
                    <p>Découvrez notre restaurant et notre carte des vins en venant passer un moment agréable dans notre cadre viticole et goûter nos produits issus de l'agriculture biologique.</p>
                    <p>Réservez dès maintenant sur notre site et nous nous engageons à répondre par mail sous 24h. Nous nous engageons à vous fournir des produits de qualité, vous pouvez nous faire confiance!</p>
                    <div class="text-center">
                        <a class="btn btn-red btn-lg" href="/reservation/add">Je réserve !</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
