<section class="reservation">

    <div class="container-fluid py-3">

        <div class="row">
            <div class="col-lg-8 col-sm-12 text-center mx-auto">
                <h2>RÉSERVATION</h2>
            </div>
        </div>
        <div class="row justify-content-center py-3">
            <div class="col-lg-4 col-sm-12 text-center py-5">
                <img src="/assets/images/resa.jpg" class="img-thumbnail" alt="Responsive image">
            </div>
            <div class="col-lg-8 col-sm-12 text-center mx-auto display">
                <div class="text-center mx-auto">


                    <p>Découvrez notre restaurant et notre carte des vins en venant passer</p>
                    <p>un moment agréable dans notre cadre viticole et goûter</p>
                    <p>nos produits issues de l'agriculture biologique.</p>
                    <div class="text-center mx-auto py-5">
                        <button class="btn btn-lg">Réservation</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
