<footer>
    <div class="container-fluid">
        <div class="row py-5">
            <div class="col-md-4">
                <hr>
            </div>
            <div class="col-md-4 text-center">
                <a href="https://fr-fr.facebook.com/pages/category/French-Restaurant/Restaurant-Chez-Dionysos-621002761312747/"><img src="/assets/images/facebook_logo.png" class="px-4 smallPicfb" alt="logo facebook"></a>
                <a href="https://www.instagram.com/?hl=fr"><img src="/assets/images/instagram_logo.png" class="px-4 smallPic" alt="logo instagram"></a>
                <a href="https://www.tripadvisor.fr/Restaurant_Review-g187129-d6364130-Reviews-Chez_Dionysos-Orleans_Loiret_Centre_Val_de_Loire.html"><img src="/assets/images/tripadvisor_logo.png" class="px-4 smallPic" alt="logo tripadvisor"></a>
            </div>
            <div class="col-md-4">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="text-center">
                    <img src="/assets/images/master_card.png" class="px-2 smallPicCard" alt="Master Card">
                    <img src="/assets/images/visa_card.png" class="px-2 smallPicCard" alt="Visa Card">
                    <img src="/assets/images/american_express_card.png" class="px-2 smallPicCard" alt="American Express Card">
                </div>
                 <div class="text-center pt-3">
                    <img src="/assets/images/Ticket_Restaurent.png" class="ticketRestau" alt="Tickets restaurent">
                </div>

            </div>
            <div class="col-md-4">
                <h2 class="text-center">Chez Dionysos</h2>
                <ul>
                    <li class="pl-5">1 rue du Tabour</li>
                    <li class="pl-5">45000 ORLEANS</li>
                    <li class="pl-5">Tel: 02 38 53 71 12</li>
                    <li class="pl-5">mail: info@chezdionysos.fr</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2 class="text-center">Horaires d'ouvertures</h2>
                <ul>
                    <li class="pl-5">Mardi au Samedi 12h00- 14h00</li>
                    <li class="pl-5">Vendredi au Samedi 19h00-22h00</li>
                </ul>
            </div>
        </div>
        <div >
            <div class="text-center pt-5">
                <p class="justify-content-center">© Made with <3 by WCS | <a href="" class="text-white">Mentions Légales</a> | <a href="" class="text-white">Politique de Confidentialité</a></p>
            </div>
        </div>
    </div>
</footer>