<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent"></div>
    <nav class="navbar sticky-top navbar-expand-md navbar-light">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav w-100 nav-fill">
                    <li class="nav-item ">
                        <a class="nav-link active" href="#">Menu</a>
                    </li>
                    <li class="nav-item active ">
                        <a class="nav-link" href="#">Réservation</a>
                    </li>
                    <img src="/assets/images/bacchus2.png" alt="logo dionysos" id="imgnav" class="imgnav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Livre D'Or</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Nous Trouver</a>
                    </li>
                </ul>
            </div>

    </nav>
</div>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque blanditiis, consequuntur cum distinctio, eaque eveniet fuga hic illum incidunt minus omnis placeat quod sit, tenetur voluptas. Est incidunt ipsam sunt!

l




