{% extends 'base.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/admin-style.css">{% endblock %}

{% block header %}

<h1>Dionysos - Espace Administrateur</h1>

<ul class="nav nav-tabs pb-3">
    <li class="nav-item">
        <a class="nav-link" href="/AdminReservations/index">Reservations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AdminMenu/index">La Carte</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AdminGuestBook/index">Livre d'Or</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AdminPhotos/index">Photos</a>
    </li>
</ul>

{% endblock %}

{% block content %}{% endblock %}

{% block footer %}{% endblock %}
