{% extends 'base.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/admin-style.css">{% endblock %}

{% block header %}

<h1>Dionysos - Espace Administrateur</h1>

<ul class="nav nav-tabs pb-3">
    <li class="nav-item">
        <a class="nav-link" href="/AdminReservation/index">Reservations</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Carte des plats
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/AdminCategory/index">Catégories</a>
            <a class="dropdown-item" href="/AdminDish/index">Plats</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Carte des boissons
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/AdminDrinkCategory/index">Categories</a>
            <a class="dropdown-item" href="/AdminDrink/index">Boissons</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AdminReview/index">Livre d'Or</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="">Photos</a>
    </li>
</ul>

{% endblock %}

{% block content %}{% endblock %}

{% block footer %}{% endblock %}
