h1, h2 {
    text-align: center;
    margin: 3rem;
}

h2 {
    margin-top: 5rem;
}

li {
   margin: auto;
}

.login {
    width: 40%;
    margin-top: 4rem;
}

.send-button {
    float: right;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

body {
    font-size: 16px;
}

.list-comments table {
    word-wrap: break-word;
    font-size: 18px;
}
.list-comments table th{
    padding:5px;
}


.modifydishsection {
    text-align: center;
    padding-top: 0px;

.alert:empty {
    display:none;
}

.faitmaisonlogo{
    max-height:40px;
}