
/*NavBar*/

nav {
    font-family: 'Montserrat', sans-serif;
}

.imgnav {
    width: 80px;
    height: 80px;
    text-align: center;
    position: inherit;
}
.nav-item{
    margin-top: 25px;
}

.nav-link{
    color: black;
    font-size: 25px;
}

.navbar{
    background-image: url("../images/vintage-concrete/vintage-concrete/vintage-concrete.png");
}


@media screen and (max-width: 850px) {
    .imgnav {
        display: none;
    }
}