/* jumbotron home */

.jumbotron {
    font-family: 'Montserrat', sans-serif;
    background-image: url("../images/jumbotron_1.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 0;
    height: 100vh;
}

.jumbotron-text {
    color: #F8F8F8;
    font-size: 2vw;
    padding: 2em 5.5em 8% 5.5em;
    text-shadow:0.5px 0.5px #000000;
}

.jumbotron-title {
    font-weight: lighter;
    color: #F8F8F8;
    font-size: 4vw;
    padding-bottom: 5%;
    text-shadow:0.5px 0.5px #000000;
}

.jumbotron button{
    font-size : 1.3vw;
    margin-bottom: 5%;
    transition : 0.5s ease all;
}
.jumbotron button:hover{
    background-color: #954733;
    border-color:  #954733;
    opacity:0.8;
    color : #F8F8F8;
}

.arrow-down img{
    max-height:20px;
}

@media screen and (max-width: 600px) {
    .jumbotron-fluid {
        height:38vh;
    }
}

/* start Footer */
footer ul
{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}


footer
{
    background-color: #303233;
    color: white;
}

footer hr
{
    background-color: white;
    margin: 2em ;
}

footer a
{
    list-style-type: none;
}

.smallPic
{
    width: 110px;
}

.smallPicfb
{
    width: 125px;
}

.smallPicCard
{
    width: 80px;
}

.mealTicket
{
    width: 250px;
}

.littleEndPage
{
    font-size: 0.7em;
}
/* end Footer */