/* start Footer */
footer ul
{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    font-size: 0.8em;
}

footer p
{
    margin-bottom: 0;
}

footer
{
    background-color: #2F1D15;
    color: white;
}

footer hr
{
    background-color: white;
    margin: 2em ;
}

footer a
{
    list-style-type: none;
}

.smallPic
{
    width: 95px;
}

.smallPicfb
{
    width: 110px;
}

.smallPicCard
{
    width: 70px;
}

.mealTicket
{
    width: 215px;
}

.littleEndPage
{
    font-size: 0.7em;
}
/* end Footer */