{% extends 'layout-admin.html.twig' %}



{% block content %}
    <section class="adminmenupage">

        <h1 class="adminmenutitle">Gestion des plats</h1>
        <a href="/AdminDish/add"><p class="liendajout">Ajouter un plat</p></a>

        {% for category in categories %}
            <h2 class="adminmenusection">{{ category.name }}</h2>
            {% for dish in dishesWithCategories[category.id] %}
                <ul class="adminmenulist">
                    <a href="/AdminDish/show/{{ dish.id }}"><li class="adminmenutext">{{dish.dish_name}}<strong>{{ dish.sup is not null ? '  (sup + ' ~ dish.sup ~ ' euros)'}}</strong></a></li>
                </ul>
            {% endfor %}

        {% endfor %}

    </section>

{% endblock %}
