{% extends 'layout-visitor.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <link rel="stylesheet" href="/assets/css/review.css">
{% endblock %}

{% block content %}
    <section class="comments">
        <div class="text-center">
            <a href="/review/add"><button class="btn btn-lg btn-dark m-3">Ajouter un avis</button></a>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center">
                {% for reviews in review %}
                    <div class="card col-sm-12 col-md-6 col-lg-4 text-center">
                        <div class="card-body ">
                            <h5 class="card-title">{{ reviews.name }}</h5>
                            <div class="rating-display text-center col-sm-12">
                                {% set somme = 5-reviews.rating%}
                                {% for i in 1..reviews.rating %}
                                    <i class="icon-star"></i>
                                {% endfor %}
                                {% if somme != 0 %}
                                    {% for somme in 1..somme %}
                                        <i class="icon-star-empty"></i>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <p class="card-text">{{ reviews.comment }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
