{% extends 'layout-visitor.html.twig' %}
{% block content %}
    <h1 class="h1_pphoto">Restaurant</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card" data-toggle="modal" data-target="#Photo_100">
                    <img src="/assets/images/photo100.jpg"
                         class="card-img-top" alt="...">
                </div>
                <div class="modal fade" id="Photo_100" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal_centered_photo" role="document">
                        <div class="modal-content">
                            <img src="/assets/images/photo100.jpg" alt="..." class="img_modal">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" data-toggle="modal" data-target="#Photo_101">
                    <img src="/assets/images/photo101.jpg"
                         class="card-img-top" alt="...">
                </div>
                <div class="modal fade" id="Photo_101" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal_centered_photo" role="document">
                        <div class="modal-content">
                            <img src="/assets/images/photo101.jpg" class="img_modal" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" data-toggle="modal" data-target="#Photo_102">
                    <img src="/assets/images/photo102.jpg" class="card-img-top" alt="...">
                </div>
                <div class="modal fade" id="Photo_102" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal_centered_photo" role="document">
                        <div class="modal-content">
                            <img src="/assets/images/photo102.jpg" alt="..." class="img_modal">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <h1 class="h1_pphoto">Plats</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card" data-toggle="modal" data-target="#Photo_103">
                    <img src="/assets/images/photo103.jpg"
                         class="card-img-top" alt="...">
                </div>
                <div class="modal fade" id="Photo_103" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered  modal_centered_photo" role="document">
                        <div class="modal-content">
                            <img src="/assets/images/photo103.jpg" alt="..." class="img_modal">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" data-toggle="modal" data-target="#Photo_104">
                    <img src="/assets/images/photo104.jpg" class="card-img-top" alt="...">
                </div>
                <div class="modal fade" id="Photo_104" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered  modal_centered_photo" role="document">
                        <div class="modal-content">
                            <img src="/assets/images/photo104.jpg" class="img_modal" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" data-toggle="modal" data-target="#Photo_105">
                    <img src="/assets/images/photo105.jpg"
                         class="card-img-top" alt="...">
                </div>
                <div class="modal fade" id="Photo_105" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered  modal_centered_photo" role="document">
                        <div class="modal-content">
                            <img src="/assets/images/photo105.jpg" class="img_modal" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1 class="h1_pphoto">Boissons</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card photo_card" data-toggle="modal" data-target="#photo_106">
                    <img src="/assets/images/photo106.jpg"
                         class="card-img-top" alt="...">
                </div>
                <div class="modal fade" id="photo_106" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered  modal_centered_photo" role="document">
                        <div class="modal-content">
                            <img src="/assets/images/photo106.jpg" class="img_modal" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" data-toggle="modal" data-target="#Photo_107">
                    <img src="/assets/images/photo107.jpg" class="card-img-top" alt="...">
                </div>
                <div class="modal fade" id="Photo_107" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered  modal_centered_photo" role="document">
                        <div class="modal-content">
                            <img src="/assets/images/photo107.jpg" class="img_modal" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" data-toggle="modal" data-target="#Photo_108">
                    <img src="/assets/images/photo108.jpg"
                         class="card-img-top" alt="...">
                </div>
                <div class="modal fade" id="Photo_108" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered  modal_centered_photo" role="document">
                        <div class="modal-content">
                            <img src="/assets/images/photo108.jpg" class="img_modal" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
